<div class="div-contenedor">

  <div class="card">
    <div class="imgBx">
      <img src="./cvs.png" class="img-personal">
    </div>
    <div class="details">
      <div class="informacion">
        <h2>ALBURQUERQUE RANGEL ARTURO</h2>
        <h2>Sistemas Computacionales</h2>
        <h2>23 años</h2>
      </div>
      
      <div>
        <ul> Habilidades
          <li>Java</li>
          <li>Angular</li>
          <li>Boostrap</li>
          <li>CSS</li>
          <li>HTML</li>
        </ul>
      </div>

      <div>
        <p>Me considero una persona que puedo aprender cualquier cosa.</p>
        <p>Me llama la atencion las dos partes de la programacion tanto el Backend como el Frontend, 
          considero que tengo mas experencias en el frontend.</p>

      </div>
    </div>
  </div>
</div>
