<div class="titulo">

    <h2>Certificados</h2>
</div>

<div class="contenedor">
    <div class="div-container">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Arturo Alburquerque Rangel</mat-card-title>
                <mat-card-subtitle>Microservicios con Spring Boot
                    y Spring Cloud Netflix Eureka</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                src="https://udemy-certificate.s3.amazonaws.com/image/UC-45565f16-c4ce-49aa-bc97-47b8b3a9117a.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Construye Microservicios Spring Boot 3, Eureka, Spring Cloud Gateway, LoadBalancer, Resilience4J,
                    Rest, OAuth, Docker
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended href="https://www.udemy.com/course/microservicios-con-spring-boot-y-spring-cloud/"
                    target="_blank">
                    <mat-icon>favorite</mat-icon>
                    Link
                </a>

            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Arturo Alburquerque Rangel</mat-card-title>
                <mat-card-subtitle> Lambdas y Streams en Java. Aprende programación funcional.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                src="https://udemy-certificate.s3.amazonaws.com/image/UC-d38c2193-cafc-4e97-8b04-831ed42e2b44.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Aprende a usar Streams, lambdas, interfaces funcionales y más.
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended href="https://www.udemy.com/course/aprende-programacion-funcional-con-java-8/"
                    target="_blank">
                    <mat-icon>favorite</mat-icon>
                    Link
                </a>

            </mat-card-actions>
        </mat-card>


        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Arturo Alburquerque Rangel</mat-card-title>
                <mat-card-subtitle> Kubernetes, de principiante a experto. </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                src="https://udemy-certificate.s3.amazonaws.com/image/UC-bfbb5c4d-3a0b-459e-8cdc-cd340dfe9ded.jpg">
            <mat-card-content>
                <p>
                    Conviértete en un Kubernetes Máster dominando la herramienta más popular para administrar
                    contenedores Docker en 2020!
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended
                    href="https://www.udemy.com/course/kubernetes-de-principiante-a-experto/?gclid=Cj0KCQiAiJSeBhCCARIsAHnAzT9VCblpdF-RdGDm-0j_bwzC89VehnR4TL79mNRuV54WbV_oEx3hVEIaAuL6EALw_wcB&matchtype=p&utm_campaign=Kubernetes_v.NONP_la.ES_cc.MX&utm_content=deal4584&utm_medium=udemyads&utm_source=adwords&utm_term=_._ag_133513888240_._ad_604231168520_._kw_curso+de+kubernetes_._de_c_._dm__._pl__._ti_kwd-705193149553_._li_1010095_._pd__._"
                    target="_blank">
                    <mat-icon>favorite</mat-icon>
                    Link
                </a>

            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Arturo Alburquerque Rangel</mat-card-title>
                <mat-card-subtitle> Angular: De cero a experto. </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e70137b-f2af-4bd0-91d0-624798e91ff8.jpg">
            <mat-card-content>
                <p>
                    Componentes, directivas, servicios, mapas, gráficas, JWT, autenticación, despliegues, mongo, Git,
                    GitHub y mucho más
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended href="https://www.udemy.com/course/angular-fernando-herrera/" target="_blank">
                    <mat-icon>favorite</mat-icon>
                    Link
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>