.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;

  h2 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif !important;
  }
}

.contenedor {
  width: 96%;
  height: 100%;
  padding: 2%;
  margin-bottom: 5%;

  .div-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
  }
}

@media screen and (max-width: 650px) {
  .div-container {
    height: 100% !important;
    display:flex !important;
    flex-direction: column !important;
  }

  .example-card {
    width: 100% !important;
    margin-top: 5%;
  }

}

.example-card {
  width: 25%;
  box-shadow: 0 45px 50px rgb(0 0 0 / 52%);
}

.example-header-image {
  background-image: url('https://avatars.githubusercontent.com/u/78330013?v=4');
  background-size: cover;
}