<mat-toolbar>
  <span class="example-spacer"></span>
  <a href="#header" class="ruta">
    <button mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
      </button>
    </a>

  <a href="#card" class="ruta">
  <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
  </a>
</mat-toolbar>

<!--HEAADER-->
<section id="header"> 
  <app-header></app-header>
</section>

<!--CARD-->
<section id="card">
  <app-card></app-card>
</section>

<hr>
<section id="">
  <app-cursos></app-cursos>
</section>
<hr>

<section id="">
  <app-practicas></app-practicas>
</section>


<footer>
  Hola
</footer>




 <!--

   <nav>
     <a href="#section1" fragment="section1">Sección 1</a>
    </nav>
    <section id="section1" >
      
      <div class="div-img">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
        <img src="https://www.zelda.com/links-awakening/assets/img/characters/char-link.png">
      </div>
      
    </section>
  --> 
