mat-toolbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #ffffff00;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.ruta{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}