mat-toolbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #ffffff00;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.ruta{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  .container{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
@media screen and (max-width: 650px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  button{
    margin-top: 2%;
    width: 130px;
  }
  
}

  button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  a{
    text-decoration: none;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(2em) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  
}