.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    h2 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif !important;
    }
}
.contenedor{
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.cards{
    width: 100%;
    display: flex;
    padding: 10%;
    flex-direction: row;
    justify-content: center;
    gap: 5%; 
}
.example-card {
    width: 80%;
    box-shadow: 0 45px 50px rgb(0 0 0 / 52%);
  }

@media screen and (max-width: 650px) {
    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center !important  ;
    }
    .example-card{
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
    }
    
}