<div class="titulo">
    <h2>PRACTICAS</h2>
</div>

<div class="contenedor">

    <div class="cards">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Mi primera pagina</mat-card-title>
                <mat-card-subtitle>Arturo Alburquerque</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                Esta es mi primera pagina en la cual solo ocupo html y css 
                    es una pagina en la cual me apoye de muchos sitios para poder llegar al resultado

            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended href="https://tedyyy-albur.github.io/Garriburguers/">Ir a...</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Pagina con Angular y Bootsrap</mat-card-title>
                <mat-card-subtitle>Arturo Alburquerque</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                Mi primer practica con desarrollo en angular y ocupando bootstrap.
                En esta pagina consumo una API en la cual se trata de pokemones.

            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-fab extended href="https://pokemon-arturo-alburquerque.netlify.app/home">Ir a...</a>
            </mat-card-actions>
        </mat-card>

    </div>
</div>